body {
    background-image: url(imagenes/fondo.jpg);
    background-size: cover; /* Ajusta la imagen para que cubra todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
    background-attachment: fixed; /* Fija la imagen al fondo */
    margin: 0;

}